<messageML>
    <br /> List of supported commands: <br />
    <table style="border:0px solid transparent;">
      <tr>
        <td><b>'/help'</b></td><td>Get the list of available commands.</td>
      </tr>
      <tr>
        <td><b>'/support'</b></td><td>Get support contact information.</td>
      </tr>
      <tr>
        <td><b>'/sales'</b></td><td>Get contact of a Sales person.</td>
      </tr>
    </table>
</messageML>