<messageML>
    <br /> List of supported commands: <br />
    <table style="border:0px solid transparent;">
      <tr>
        <td><mention uid="{{ bot_user_id }}"/> <b>/help</b></td><td>Get the list of available commands.</td>
      </tr>
      <tr>
        <td><mention uid="{{ bot_user_id }}"/> <b>/lookup</b></td><td>Display an example table of data.</td>
      </tr>
      <tr>
        <td><mention uid="{{ bot_user_id }}"/> <b>/sales</b></td><td>Get contact of a Sales person.</td>
      </tr>
      <tr>
        <td><mention uid="{{ bot_user_id }}"/> <b>/support</b></td><td>Get support contact information.</td>
      </tr>
    </table>
</messageML>